{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as languages %}


<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        {{CURRENT_LANGUAGE|language_name_local}}

    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
        {% for language in languages %}
        <li>
            <a class="dropdown-item" href="/{{ language.code }}/">
                {{ language.name_local }}
            </a>
        </li>
        {% endfor %}
    </ul>
</li>