{% extends 'main/base.html' %}
{% load i18n %}
{% block content %}

{% if user.is_authenticated %}
<div class="d-flex justify-content-center ">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete post</legend>
        </fieldset>
        <h3>{% translate "Are you sure you want to delete post" %} "{{object.make}}"</h3>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">{% translate "Yes, delete" %}</button>
            <a class="btn btn-outline-secondary" href="{% url 'profile' %}">{% translate "Cancel" %}</a>
        </div>
    </form>
</div>
{% endif %}
{% endblock%}