{% extends 'main/base.html' %}
{% load i18n %}
<title>Search page</title>
{% load crispy_forms_tags %}

{% block content %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% load static %}
<div class="d-flex justify-content-center">

    <form method="get" action="search-result/" enctype="multipart/form-data">
        {% csrf_token %}
        <legend class="mb-1 border-bottom mb-2"><small> {% translate "Select car parameters" %}</small></legend>
        <!-- {{form|crispy}} -->
        {% crispy form %}
        <button type="submit" class="btn btn-primary btn-sm ">{% translate "Find" %}</button>
    </form>
</div>
{% endblock %}