{% load static %}


<div id="frame">
    <div id="sidepanel">
        <div class="row" id="profile">
            <h3 class="col">Messages</h3>
            <button type="button" class="btn-close col" id="close-canvas" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div id="contacts">
            <ul id="list-conversations">
                <!-- javascript rendering li elements -->
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="contact-profile">
            <!-- <ul>
                <li>Kia Sringer</li>
                <li>Price</li>
            </ul> -->
            <!-- <p>Harvey Specter</p> -->
            <!-- <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" /> -->
        </div>
        <hr />
        <div class="messages">
            <ul id="chat-log">
                <!-- <li class="sent">
                    <p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!
                    </p>
                </li>
                <li class="replies">
                    <p>When you're backed against the wall, break the god damn thing down.</p>
                </li> -->
            </ul>
        </div>
        <div class="message-input">
            <div class="wrap">
                <input id="chat-message-input" type="text" placeholder="Write your message..." disabled />
                <button class="submit" id="chat-message-submit" disabled>
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>