{% extends 'main/base.html' %}
{% load i18n %}
{% block content %}
{% load crispy_forms_tags %}


{% if submitted %}
<div class="alert alert-{{ msg.tags }}">
    {{ msg }}
</div>
<a href="{% url 'home' %}">Go to main page</a>

{% else %}


<div class="d-flex justify-content-center ">
    <form method="POST" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <legend class="border-bottom mb-2">{% translate "Write your message" %}</legend>
            <fieldset class="form-group">
                {{form|crispy}}
            </fieldset>
            <div class="btn-group d-flex">
                <button class="btn btn-secondary btn-sm m-1 w-50" type="submit">{% translate "Send message" %}</button>
                <a class="btn btn-secondary btn-sm m-1 w-50" href="{% url 'home' %}">{% translate "Cancel" %}</a>
            </div>
        </div>
    </form>
</div>

{% endif %}
{% endblock %}